.nav-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  position: fixed;
}

.nav-divider {
  border-radius: 50%;
  /* background: linear-gradient(rgb(80 81 89 / 52%) 0%, rgb(78 71 83 / 49%) 58%); */
  width: 2px;
  height: 60%;
  border: none;
  position: absolute;
  z-index: -1;
  box-shadow: rgba(0, 174, 255, 0.2) 0px 0px 10px 3px;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  border-radius: 30px 30px;
  gap: 2rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.navigation-menu:hover {
  background-color: rgba(26, 26, 46, 0.8);
  box-shadow: rgba(0, 174, 255, 0.2) 0px 0px 8px 0px;
}

.navigation-menu a {
  text-decoration: none;
}
